div{
    text-align: center; 
    background-color: black;
    color: white;
    margin: 70px;
}
h1{
    display: inline-block;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
h1::after,h1::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: white;
    top: 0.4cm;
}
h1::before{
    left: -140px;
}
h1::after{
    right: -140px;
}
img {
    border-radius: 50%;
    object-fit: cover;
}

nav ul{
    background-color: black;
    list-style-type: none;
    text-align: center;
    margin:70px;
    position: sticky;
    top: 0;
}

nav li{
    display: inline-flex;

}

nav a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}

nav li:hover{
    background-color: #0099ff;
    left: 0;
    transition: 0.5s ease-in-out all;
}

.pie{
    font-size:small;
    width: 99opx;
    height: 50px;
    background-color: black;
    color: white; 
    padding: 20px;
}
p{
 padding: 20px 100px;
 font-size: larger;
 font-family: Arial, Helvetica, sans-serif;
}

.IMAGEN{
    text-align: center;
}

div{
    padding: 20px 100px;
}

body{
    overflow: auto;
}

